* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.screen{
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.menuAdmin{
  padding: 10px;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
}
.screenAdmin{
    padding-top: 100px;
    padding-right: 10px;
    padding-left: 110px;
}

.logo {
  background-color: #000000;
  background-image: linear-gradient(to top, #000000 0%, #656565 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.3rem;
}

.navbar {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  background: rgba(234, 244, 243, 0.8);
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  top: 0;
  z-index: 999;
}

.navbar_container {
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 50px;
  margin-top: 6px;  
}

.fa-gem {
  margin-right: 0.5rem;
  
}

.navbar_item {
  height: 80xp;
  padding-right: 10px;
}


.details{
    justify-content: center;
      align-items: center;
  box-shadow: 0 0 8px #acabab;
  
}

.box1{
      justify-content: center;
        align-items: center;
        box-shadow: 0 0 8px #acabab;
  position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

.online{
  width: 1200px;

  box-shadow: 0 0 10px #acabab;
}


.button {
  display: inline-block;
  font-size: 19px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0px 20px;
  height: 100%;
  width: 100%;
  border: none;
  border: 2px solid #e1e1c2;
  outline: none;
  border-radius: 5px;
  background: #f4ba3e;
  color: rgb(100, 100, 100);
}

.button:hover {
    border: 2px solid #f6ab21;
    background: #ffe7ae;
    transition: ls;

}

.nav-link:hover {
  color: #081ad9;
  border:#081ad9;
  border-radius: 115px;
  transition: all 0.3s ease;
}


img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
    background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}


.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.home-image-section {
  max-width: 600px;
  flex: 1;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}

